1. Given 1000 records in a dataset, 1000 models are trained with 999 records as part of
the training sample and the remaining 1 sample for testing, and the error rate is averaged out,
this validation technique is called? 

c) LOOCV

2.  In k-fold cross validation technique, the value of k being small could lead to which of
the following in relation to the error rate

d) ?????

3. In k-fold cross validation technique, the value of k being large could lead to which of
the following in relation to the error rate

a) ?????

4. Explain what regularization is and why it is useful.

In [1]:
import boto3
import pandas as pd; pd.set_option('display.max_column', 100)
import numpy as np
import matplotlib.pyplot as plt

## define bucket in which you are trying to reach
s3 = boto3.resource('s3')
bucket_name = 'daltondencklau-data445-bucket'
bucket = s3.Bucket(bucket_name)


## define csv file to read in the bucket
file_key= 'framingham.csv'

## syntax to allow us to read the file
bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

## reading the data file
heart = pd.read_csv(file_content_stream)
heart.head(100)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,65,3.0,0,0.0,0.0,0,0,0,193.0,123.0,76.5,29.33,60.0,96.0,0
96,0,63,4.0,1,20.0,0.0,0,0,1,239.0,134.0,80.0,26.64,88.0,126.0,0
97,0,40,2.0,0,0.0,0.0,0,0,0,205.0,100.0,60.0,NaN,60.0,72.0,1
98,0,56,1.0,0,0.0,0.0,0,1,0,296.0,180.0,90.0,23.72,75.0,120.0,0
99,0,56,1.0,1,15.0,0.0,0,0,0,269.0,121.0,75.0,22.36,50.0,66.0,0

### Removing observations with missing values

In [2]:
heart = heart.dropna()
heart.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

### Changing input variables to 0-1

In [ ]:
from sklearn.preprocessing import MinMaxScaler

### Building Model 1

In [12]:
from sklearn.model_selection import train_test_split

## defining input and target variables
X1 = heart[['age', 'currentSmoker', 'totChol', 'sysBP', 'BMI', 'heartRate', 'glucose']]
Y = heart['TenYearCHD']

from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression

## defining the list to store results
k_f1score_1 = list()

kfold = KFold(n_splits = 5, shuffle = True)

for train_ix, test_ix in kfold.split(X1):
    
    ## splitting the data
    X1_train, X1_val = X1.loc[train_ix], X1.loc[test_ix]
    Y_train, Y_val = Y.loc[train_ix], Y.loc[test_ix]
    
    ## building the model
    md1 = LinearRegression().fit(X1_train, Y_train)
    
    ## Predicting on the validation
    pred1 = md1.predict(X1_val)
    
    ## Storing the Prediction
    k_f1score_1.append(pred1[0])

KeyError: '[14, 21, 26, 33, 36, 42, 70, 72, 97, 111, 131, 139, 154, 184, 193, 203, 211, 215, 216, 245, 246, 250, 263, 279, 282, 293, 294, 296, 301, 302, 305, 306, 309, 314, 315, 319, 329, 343, 345, 382, 395, 400, 407, 412, 413, 418, 421, 427, 428, 448, 455, 456, 467, 472, 487, 490, 499, 511, 519, 540, 552, 563, 576, 577, 591, 609, 622, 645, 673, 675, 689, 690, 694, 705, 714, 719, 737, 755, 765, 769, 777, 778, 779, 797, 812, 819, 822, 832, 834, 871, 896, 905, 917, 936, 942, 943, 951, 966, 980, 998, 999, 1002, 1019, 1027, 1028, 1038, 1046, 1063, 1064, 1070, 1072, 1075, 1101, 1104, 1105, 1115, 1118, 1122, 1129, 1138, 1142, 1155, 1161, 1177, 1179, 1190, 1202, 1206, 1211, 1214, 1227, 1234, 1253, 1284, 1286, 1292, 1301, 1317, 1327, 1347, 1354, 1359, 1361, 1375, 1377, 1394, 1400, 1411, 1429, 1448, 1451, 1470, 1493, 1497, 1506, 1521, 1524, 1537, 1573, 1574, 1594, 1604, 1610, 1616, 1624, 1641, 1645, 1647, 1654, 1658, 1671, 1675, 1681, 1687, 1692, 1694, 1706, 1716, 1720, 1721, 1730, 1744, 1747, 1785, 1786, 1800, 1808, 1815, 1821, 1830, 1845, 1857, 1860, 1861, 1866, 1869, 1870, 1879, 1883, 1885, 1913, 1915, 1924, 1926, 1932, 1940, 1951, 1958, 1963, 1971, 1974, 1975, 1978, 1980, 1984, 1985, 1987, 1998, 2003, 2006, 2008, 2010, 2014, 2026, 2038, 2045, 2048, 2060, 2067, 2068, 2074, 2079, 2081, 2085, 2091, 2096, 2103, 2104, 2107, 2108, 2109, 2118, 2120, 2138, 2160, 2161, 2177, 2181, 2183, 2209, 2219, 2250, 2254, 2262, 2263, 2267, 2269, 2270, 2273, 2293, 2314, 2315, 2340, 2341, 2346, 2355, 2367, 2398, 2405, 2409, 2417, 2430, 2431, 2462, 2468, 2513, 2518, 2524, 2529, 2530, 2542, 2554, 2567, 2570, 2573, 2585, 2593, 2595, 2608, 2609, 2612, 2615, 2626, 2638, 2640, 2645, 2655, 2658, 2669, 2689, 2695, 2696, 2699, 2710, 2719, 2728, 2738, 2748, 2752, 2756, 2763, 2771, 2773, 2784, 2792, 2800, 2805, 2825, 2835, 2847, 2858, 2872, 2882, 2885, 2895, 2902, 2904, 2905, 2911, 2925, 2928, 2929, 2941, 2943, 2944, 2949, 2967, 2971, 2994, 3007, 3012, 3021, 3033, 3034, 3046, 3048, 3051, 3055, 3062, 3090, 3094, 3105, 3106, 3110, 3111, 3118, 3123, 3146, 3149, 3156, 3157, 3160, 3163, 3177, 3190, 3191, 3219, 3226, 3234, 3258, 3285, 3290, 3291, 3296, 3308, 3310, 3313, 3316, 3330, 3332, 3373, 3375, 3380, 3383, 3386, 3432, 3455, 3456, 3470, 3479, 3488, 3514, 3526, 3533, 3558, 3560, 3571, 3573, 3576, 3579, 3591, 3597, 3603, 3607, 3618, 3624, 3630, 3644, 3655] not in index'

In [ ]:
## calculating F1 score for md1

from sklearn.metrics import f1_score
md1_f1 = 2 * (precision * recall) / (precision + recall)
print (md1_f1)