## Exercises

1. What type of algorithm would you use to segment a company customers database into multiple groups?
I would use a clustering agorithm, such as K-means. This kind of algorithm would group similar observations in the same group or cluster.

2. Would you frame the problem of spam detection as a supervised learning problem or an unsupervised learning problem? Explain.
I would frame spam deterction as supervised learning because there is a clear goal: spam or not spam. Unsupervised learning has no target variable to be modeled and is used to observe new patterns in datasets.

3. What is a test set, and why would you want to use it?
A test set is the portion of the dataset that you will use to test how well/effective your model is after it's trained on the training dataset.

4. You are training a classification model with 100 variables/features that achieves 95% accuracy in the training dataset. However, when you run it in the test dataset, you only get 60% accuracy. Which of the following options are valid approached to solve this problem?
E (a and c).

In [2]:
import boto3
import pandas as pd; pd.set_option('display.max_column', 100)
import numpy as np


## define bucket in which you are trying to reach
s3 = boto3.resource('s3')
bucket_name = 'daltondencklau-data445-bucket'
bucket = s3.Bucket(bucket_name)


## define csv file to read in the bucket
file_key= 'Real_Estate.csv'

## syntax to allow us to read the file
bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

## reading the data file
house_price = pd.read_csv(file_content_stream)
house_price.head()

,No,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

## Dropping the 'No' and 'transaction_date' column

In [3]:
house_price = house_price.drop(columns = ['No', 'transaction_date'], axis =1)
house_price.head()

,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

## Builiding Linear Regression Model 1

In [4]:
from sklearn.model_selection import train_test_split

## defining input and target variables
X = house_price.drop(columns = 'house_price_of_unit_area', axis =1)
Y = house_price['house_price_of_unit_area']

## splitting the data into 80% training and 20% testing
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .2)

In [5]:
## building the linear regression model
from sklearn.linear_model import LinearRegression
lm_md = LinearRegression().fit(X_train, Y_train)

In [7]:
## predicting on the testing dataset
lm_preds = lm_md.predict(X_test)
lm_preds

array([50.53573398, 46.00845592, 28.19087542, 31.06819232, 37.13619368,
       32.63780019, 45.86335389, 43.02905892, 45.52042777, 52.16817627,
       49.71034352, 42.70132979, 48.99765247, 45.54541037, 35.22923655,
       40.50919976, 45.39900241, 14.71677118, 44.00462784, 41.35817397,
       39.74781885, 33.63601624, 24.77629876, 37.73336787, 32.42602105,
       42.15290713, 27.65115717, 43.10037692, 28.72545008, 45.79608327,
       34.63723882, 42.23911125, 41.22147196, 14.68775077, 40.33687109,
       14.39542882, 36.94531916, 38.61201083, 45.80531308, 30.83421898,
       45.14324935, 48.78409521, 33.20252074, 41.97518414, 29.56752561,
       42.43079017, 39.60756077, 41.55481775, 13.30791978, 45.60345118,
       31.61776993, 39.09881723, 41.39995609, 25.54845561, 24.44771316,
       30.35532946, 45.9213947 , 33.83427599, 41.66526219, 31.53853345,
       46.8183134 , 45.68335296, 39.82170868, 33.67751852, 39.87865877,
        6.16635742, 46.2128797 , 42.25152371, 33.11545952,  6.22439823,
       42.91343451, 30.37805406, 40.03268878, 45.60345118, 31.64885613,
       43.60120288, 31.76287196, 52.22621708, 40.36409773, 46.50927491,
       39.1003126 , 31.22653747, 44.84015254])

In [8]:
## calculating the MSE for model 1
np.mean((Y_test -lm_preds)**2)

76.55178749724845

In [ ]:
## The MSE for model 1 is 76.552.

## Building Linear Regression Model 2

In [16]:
## defining input and target variables
X2 = house_price[['house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convenience_stores', 'latitude', 'longitude']]
Y2 = house_price['house_price_of_unit_area']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .2)

In [17]:
## building the linear regression model

lm_md_2 = LinearRegression().fit(X_train, Y_train)

In [18]:
## predicting on the testing dataset

lm_preds_2 = lm_md_2.predict(X_test)
lm_preds_2

array([42.24723772, 22.6766526 , 51.68199896, 40.86965119, 33.10142822,
       35.36169179, 46.84716191, 32.21086022, 14.67663606, 40.01878522,
       32.99207479, 42.58344098, 41.83977031, 48.59662356, 51.91650491,
       29.82003048, 45.52252223, 47.82980159, 50.12567498, 41.07274869,
       49.21238086, 11.19544567, 26.30229655, 33.43331908, 33.06470402,
       40.63927657, 38.38855768, 41.93417505, 14.6036769 , 24.53078554,
       41.34525156, 14.87013838, 51.74062545, 50.43777789, 30.30978443,
       32.35157131, 31.25441094,  1.51653615, 41.2010525 , 53.72662038,
       48.8202504 , 46.25537127, 34.41816157, 49.02544311, 49.97668896,
        7.13613269, 37.8926787 , 36.29013751, 50.30155445, 33.87686831,
       48.81937434, 21.21748646, 40.87039335, 35.23770853, 33.96480804,
       35.26702178, 46.64093062, 33.9354948 , 51.85787843, 45.90809953,
       42.08853315, 36.63684084, 50.5710431 , 41.83977031, 39.37072352,
       46.05466575, 14.77955636, 33.06986218, 48.8202504 , 38.8019719 ,
       50.43777789, 14.60431592, 39.07604002, 21.64638206, 39.93084549,
       53.63868065, 30.93401236, 41.29810741, 13.89665694, 42.11158524,
       43.77891267, 42.97701988, 30.47887846])

In [19]:
## calculating the MSE for model 2

np.mean((Y_test -lm_preds)**2)

385.0874379887391

In [ ]:
## The MSE for model 2 is 385.0878

In [ ]:
## Based on the MSE from both of these models, I would select the first model because the MSE value is lower.

## DO I NEED TO SPLIT THE DATA INTO 80/20 FOR BOTH MODELS OR JUST ONCE?