## Exercises

1. What type of algorithm would you use to segment a company customers database into multiple groups?
I would use a clustering agorithm, such as K-means. This kind of algorithm would group similar observations in the same group or cluster.

2. Would you frame the problem of spam detection as a supervised learning problem or an unsupervised learning problem? Explain.
I would frame spam deterction as supervised learning because there is a clear goal: spam or not spam. Unsupervised learning has no target variable to be modeled and is used to observe new patterns in datasets.

3. What is a test set, and why would you want to use it?
A test set is the portion of the dataset that you will use to test how well/effective your model is after it's trained on the training dataset.

4. You are training a classification model with 100 variables/features that achieves 95% accuracy in the training dataset. However, when you run it in the test dataset, you only get 60% accuracy. Which of the following options are valid approached to solve this problem?
E (a and c).

In [2]:
import boto3
import pandas as pd; pd.set_option('display.max_column', 100)
import numpy as np


## define bucket in which you are trying to reach
s3 = boto3.resource('s3')
bucket_name = 'daltondencklau-data445-bucket'
bucket = s3.Bucket(bucket_name)


## define csv file to read in the bucket
file_key= 'Real_Estate.csv'

## syntax to allow us to read the file
bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

## reading the data file
house_price = pd.read_csv(file_content_stream)
house_price.head()

,No,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

## Dropping the 'No' and 'transaction_date' column

In [3]:
house_price = house_price.drop(columns = ['No', 'transaction_date'], axis =1)
house_price.head()

,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

## Builiding Linear Regression Model 1

In [4]:
from sklearn.model_selection import train_test_split

## defining input and target variables
X = house_price.drop(columns = 'house_price_of_unit_area', axis =1)
Y = house_price['house_price_of_unit_area']

## splitting the data into 80% training and 20% testing
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .2)

In [5]:
## building the linear regression model
from sklearn.linear_model import LinearRegression
lm_md = LinearRegression().fit(X_train, Y_train)

In [6]:
## predicting on the testing dataset
lm_preds = lm_md.predict(X_test)
lm_preds

array([42.26896164, 30.63172517, 49.06720381, 52.43247951, 16.00469924,
       37.83811658, 49.50228878, 45.29747831, 49.40163734, 43.54838998,
       39.92069809, 39.40514956, 41.74190804, 35.49578451, 36.22466242,
       34.24718865, 30.18307097, 30.5768499 , 33.72171811, 35.17879952,
       41.84557824, 15.8236893 , 41.73142115, 46.2472769 , 30.46115039,
       32.93695972, 34.20161526, 30.73358089, 33.30108174, 43.49921878,
       30.4684637 , 52.68933296, 33.52289349, 15.73555605, 45.47224277,
       29.93448125, 50.33675699, 40.48999026, 45.38469573, 40.35529977,
       40.04834064, 48.08378713, 45.95105379, 32.4675686 , 50.26880895,
       31.7643222 , 15.9476207 , 35.20733879, 37.69780422, 50.88074245,
       46.16020763, 39.51452649, 44.7326653 , 45.27142017, 28.13188799,
       42.24752946, 24.76810037, 34.67879435, 40.42731777, 47.30896831,
       42.17223922, 42.24752946, 30.64796308, 41.81703896, 35.11628412,
       45.93189345, 55.61442782, 39.7227689 , 44.6673497 , 30.0314038 ,
       42.03275319, 45.18580235, 32.80753913, 43.48882775, 45.07164526,
       48.37938737, 40.5483482 , 51.87577311, 44.04452634, 44.74761217,
       39.84367452, 15.49152475, 40.46707538])

In [7]:
## calculating the MSE for model 1
np.mean((Y_test -lm_preds)**2)

40.15124229313794

In [ ]:
## The MSE for model 1 is 44.59

## Building Linear Regression Model 2

In [8]:
## defining input and target variables
X2 = house_price[['house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convenience_stores', 'latitude', 'longitude']]
Y2 = house_price['house_price_of_unit_area']

In [16]:
## building the linear regression model
lm_md_2 = LinearRegression().fit(X_train.drop(columns = ['distance_to_the_nearest_MRT_station'], axis = 1), Y_train)

In [17]:
## predicting on the testing dataset
lm_preds_2 = lm_md_2.predict(X_test.drop(columns = ['distance_to_the_nearest_MRT_station'], axis = 1))
lm_preds_2

/home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages/sklearn/base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- distance_to_the_nearest_MRT_station
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

ValueError: X has 5 features, but LinearRegression is expecting 4 features as input.

In [11]:
## calculating the MSE for model 2
np.mean((Y_test -lm_preds_2)**2)

40.15124229313794

In [ ]:
## The MSE for model 2 is 263.37

In [ ]:
## Based on the MSE from both of these models, I would select the first model because the MSE value is lower.

## Reating above steps 100 times

In [43]:
## creating a data frame to store results
import numpy as np
MSE_results = pd.DataFrame({'MSE_results': np.repeat(np.nan, 100), ' md1_results': np.repeat(np.nan, 100), 'md2_results': np.repeat(np.nan, 100)})
MSE_results

    MSE_results   md1_results  md2_results
0           NaN           NaN          NaN
1           NaN           NaN          NaN
2           NaN           NaN          NaN
3           NaN           NaN          NaN
4           NaN           NaN          NaN
..          ...           ...          ...
95          NaN           NaN          NaN
96          NaN           NaN          NaN
97          NaN           NaN          NaN
98          NaN           NaN          NaN
99          NaN           NaN          NaN

[100 rows x 3 columns]

In [14]:
md1_results = list()
md2_results = list()

## defining input and target variables for model 1
X = house_price.drop(columns = 'house_price_of_unit_area', axis =1)
Y = house_price['house_price_of_unit_area']

## defining input and target variables for model 2
X2 = house_price[['house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convenience_stores', 'latitude', 'longitude']]
Y2 = house_price['house_price_of_unit_area']

for i in range(0,100):
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .2)
    md1 = LinearRegression().fit(X_train, Y_train)
    
    md2 = LinearRegression().fit(X_train, Y_train)
    
    ## predicting on the test dataset
    md1_preds = md1.predict(X_test)
    md2_preds = md2.predict(X_test)
    
    ## computing MSE
    mse1 = np.mean((Y_test -md1_preds)**2)
    mse2 = np.mean((Y_test -md2_preds)**2)
    md1_results.append('mse1')
    md2_results.append('mse2')
    
md1_results['MSE'][0,100] = np.mean((md1_results))
md2_results['MSE'][0,100] = np.mean((md2_results))

TypeError: cannot perform reduce with flexible type

In [78]:
## defining the input and target variables for model 2

for i in range(0,100):
    md2 = LinearRegression().fit(X_train, Y_train)
    X2 = house_price[['house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convenience_stores', 'latitude', 'longitude']]
    Y2 = house_price['house_price_of_unit_area']
    
    ## predicting on the test dataset
    md2_preds = md2.predict(X_test)
    
    ## computing MSE
    mse = np.mean((Y_test -md2_preds)**2)
    md2_results

In [ ]:
md1_results['MSE'][0,100] = np.mean((md1_mse))
md2_results['MSE'][0,100] = np.mean((md2_mse))

In [12]:
## storing the results and average the 100 MSE values
MSE_results['Model_Results'][0,100] = LinearRegression[0,100]
MSE_results()

TypeError: 'ABCMeta' object is not subscriptable

In [ ]:
print.MSE_results()